<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>DevOps Deployment Challenge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div style="color:white;
                background:#d32f2f;
                padding:10px;
                text-align:center;
                font-size:24px;
                font-weight:bold;">
        🚀 DESPLIEGUE AUTOMATIZADO - VERSIÓN: v8 
    </div>    

<div class="container">

    <h1>🚀 DevOps Deployment Challenge</h1>

    <p class="subtitle">
        Tu misión ha comenzado... ¿Estás listo para el reto?
        Demuestra tus conocimientos de DevOps seleccionando el orden correcto de las etapas del despliegue en Azure Kubernetes Service (AKS). 
        Analiza cada opción, toma la mejor decisión y completa la misión con éxito.
        Identifica la secuencia correcta del despliegue, evita errores en el pipeline y completa el desafío DevOps.

    </p>

    <hr>

<div class="version">

    <h3>Información del despliegue</h3>

    <ul>
        <li><strong>Versión:</strong> v8</li>
        <li><strong>Autor:</strong> Daniel Guerrero</li>
        <li><strong>Proyecto:</strong> Caso Práctico 2 - DevOps &amp; Cloud</li>
        <li><strong>Universidad:</strong> UNIR</li>
        <li><strong>Año:</strong> 2026</li>
    </ul>

</div>
    

    <div class="card">

        <label>

            Nombre del participante

        </label>

        <input
            id="username"
            type="text"
            placeholder="Escribe tu nombre">

        <button id="startBtn">

            Iniciar reto

        </button>

    </div>

    <div class="card">

        <h2>Pasos disponibles</h2>

        <div id="stepsContainer">

            Aquí aparecerán los pasos.

        </div>

    </div>

    <div class="card">

        <h2>Orden seleccionado</h2>

        <div id="selectedOrder">

            Ningún paso seleccionado.

        </div>

    </div>

    <div class="card center">

        <button
            id="deployBtn"
            disabled>

            Ejecutar Deploy

        </button>

    </div>

    <div class="card">

        <h2>Resultado</h2>

        <div id="result">

            Esperando...

        </div>

    </div>

    <div class="card">

        <h2>Hall of Fame</h2>

        <div id="hallOfFame">

            Sin participantes.

        </div>

    </div>

</div>

<script
src="{{ url_for('static', filename='app.js') }}">
</script>

</body>

</html>
