[defaults]
# inventario por defecto es el archivo 'hosts'.
inventory = hosts

# directorio donde estaran los archivos de roles 
roles_path = roles

# evita preguntas tipo: 'The authenticity of host ...'
host_key_checking = False

# evita que ansible cree 'playbook.retry'
# mantiene el proyecto limpio.
retry_files_enabled = False

# salidas mas legibles.
stdout_callback = yaml

# para que Ansible detecte Python en la VM.
interpreter_python = auto_silent
